body {
	background-image: url(/Ecsite/img/Mayoi.jpg);
	background-size: cover;
}

.err {
	height: 20px;
	width: 400px;
	padding: 10px;
	color: red;
	z-index: 2;
	border: 5px double red;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

h1 {
	background: rgba(0, 128, 64, 0.6);
	box-shadow: 0px 0px 0px 5px rgba(0, 128, 64, 0.6);
	border: dashed 1px rgba(64, 0, 0, 0.7);
	padding: 0.2em 0.5em;
	color: rgba(128, 0, 0, 0.7);
}

.border {
	border-color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.7);
}

.border td {
	border-color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.7);
}

.border th {
	border-color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.7);
}